<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>

    <h3>Editar usuario <%=userToEdit.name%></h3>


    <main class="register">
        <div class="container-registro">
            <form action="/userEdit/edit?_method=PUT" method="POST">
                <label for="">Nombre</label>
                <input type="text" nombre="nombre" value="<%= userToEdit.name %>">

                <input type="submit" value="Editar">
                <input type="text" name="name" placeholder="Nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <input type="password" name="contrase単a" placeholder="Contrase単a">
                <input type="password" name="confirmar Contrase単a" placeholder="Confirmar Contrase単a">
                <input type="text" name="addres" placeholder="Domicilio">
                <div class="botonera">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </div>
            </form>
        </div>
        <br>
    </main>
</body>

<%- include('partials/footer.ejs') %>

</html>