<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
<!-- Include Head -->
<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<body class="prod">
	<!-- Header -->


=======


    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>
    <body class="prod">


>>>>>>> 4ec266143bfa1e53979473a3c1d2b0f3391502ee
	<h2>Lo sentimos...Usted no tiene permiso para ingresar!!! Te queres matar......Saludos</h2>
	<style>
		h2 {
		  font-size: 50px !important;
		  font-family: "Monserrat" !important; 
		  color: #8e582c !important;
		  text-decoration: underline solid 2px white !important;
		  background-color: #d0ab7a;
		  }
	  </style>
</body>
<%- include('../partials/footer.ejs') %>
</html>
