<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Inicio'}) %>
<body class= "prod">
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- ultima visita -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">PASTELERIA</h2>
			</div>
			<!-- Show the "visited" products -->	
			<% Pasteleria.forEach(function(product){ 
				let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
			%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="../admin/detail/<%= product.id %>">
							<figure class="product-box_image">
								
								<img class= "img2" src="/images/products/<%= product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<span>$<%= product.price %></span>
								<span><%= product.discount %> %OFF</span>
								<p><%= product.name %></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
			</div>
		</div>
		<!-- /ultima visita -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">CHOCOLATES</h2>
				</div>
				<!-- Show the "visited" products -->	
				<% Chocolate.forEach(function(product){ 
					let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
				%>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="../admin/detail/<%= product.id %>">
								<figure class="product-box_image">
									<img class= "img2" src="/images/products/<%= product.image %>" alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<span>$<%= product.price %></span>
									<span><%= product.discount %> %OFF</span>
									<p><%= product.name %></p>
									
									<i class="fas fa-truck"></i>
								</article>
							</a>
						</section>
					</div>
				<% }) %>
				</div>
			</div>
		
		<!-- Ofertas -->
	


			<!-- /Ofertas -->
			
			<!-- footer -->
			<%- include('../partials/footer.ejs') %>
			<!-- /footer -->
		</body>	
		</html>