<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head.ejs') , {title: 'Todos los productos'}) %>
<body class="prod">
	<!-- Header -->

	
	<%- include('../partials/header.ejs') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los chocolates</h2>
			</div>

			<% product.forEach(function(product){ 
				let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0)
			%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/detail/<%= product.id %>">
							<figure class="product-box_image">
								<img class= "img2" src="/images/products/<%= product.image %>" alt="imagen de producto" width="100%">
							</figure>
							<article class="product-box_data">
								<h2><%= product.name %></h2>
								<span><%= product.discount %> %OFF</span>
								<p><%=  toThousand(finalPrice)%></p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
				<% }) %>
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->

	<!-- /footer -->
</body>
<%- include('../partials/footer.ejs') %>
</html>