<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">

         

            <h3>Ingresar</h3>
            <style>
                h3 {
                    font-size: 50px;
                    font-family: "montserrat";
                    color: white;
                    text-decoration: underline solid 2px white;
                    text-align: center;
                }
            </style>

            <main class="login">
                <section id="formulario">
                    <article class="mostrarFormulario">
                <ul class="errores"></ul>
                <div class="container-login">
                    <form action="./login" class="form" method="POST">
                        <input type="email" class= "email" name="email" id="email" placeholder="email" id?¡="email" value="<%= typeof old != 'undefined' ? old.email : '' %>">
                            <input type="password" name="password" class= "password" id="password" placeholder="Contraseña" id="password" >
                        <br>
                        <% if (locals.errors && errors.datosMal){%>
                            <span class="text-danger">
                                <%= errors.datosMal.msg %>
                            </span>
                            <%}%>

                                <input type="submit" value="Enviar">
                                <div></div>
                                <div class="form-group ">
                                    <label class="checkbox-inline">Recordarme</label><br>
                                    <input type="checkbox" name="recordarme">
                                    
                                </div>
                                <div class="text-center mb-3"><a href="./registro">Aun no poseo una cuenta</a></div>

                    </form>
                </section>
            </article>
                </div>


                <script src="/js/loginUsuario.js"></script>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            </main>

        </body>
        <br>
        <br>
        <br><br><br>
        <br><br><br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%- include('../partials/footer.ejs') %>


</html>