<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">


            <div class="card" style="width: 40%" text-align="center">
                <br> <img src="/images/usuariosimg/<%= usuario.avatar%>">
                <br><input type="hidden" name="oldImagen" value="<%= usuario.avatar%>" >
            
                <br>
                <h4 class="card-title">
                    <%= usuario.name %>
                        <%= usuario.last_name %>
                </h4>
                <br>
                <h4 class="card-text">
                    <%= usuario.email %>
                </h4>
                <br><a href="../" class="action-button edit">Volver</a>
                <br><a href="edit/<%= usuario.id %>" class="action-button edit">Editar usuario</a>
            </div>
    
        </body>
<%- include('../partials/footer.ejs') %>
</html>            


