<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">


            <div class="card" style="width: 50rem;">
                <img src="/images/usuariosimg/<%= usuario.image %> " class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= usuario.name %> <%= usuario.last_name %></h5>
                    <p class="card-text"><%= usuario.email %></p>
                    <a href="../" class="btn btn-primary">Volver</a>
                </div>
            </div>
    
        </body>
<%- include('../partials/footer.ejs') %>
</html>            


