<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">


            <div class="card" style="width: 20%" text-align="center">
                
                
                
                <div class="card-body">
            
                    <h5 class="card-title"><%= usuario.name %> <%= usuario.last_name %></h5>
                    <p class="card-text"><%= usuario.email %></p>
                    <a href="../" class="action-button edit">Volver</a>
                    <a href="edit/<%= usuario.id %>" class="action-button edit">Editar usuario</a>
                </div>
            </div>
    
        </body>
<%- include('../partials/footer.ejs') %>
</html>            


