<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">


            <div class="card" style="width: 20%" text-align="center">
                
                
                
                <div class="card-body">
                    <br> <img src="/images/usuariosimg/<%= usuario.avatar%>">
                    <br><input type="hidden"  name="oldImagen"  value="<%= usuario.avatar%>">
               
                   <br> <h5 class="card-title"><%= usuario.name %> <%= usuario.last_name %></h5>
                   <br><p class="card-text"><%= usuario.email %></p>
                   <br><a href="../" class="action-button edit">Volver</a>
                   <br><a href="edit/<%= usuario.id %>" class="action-button edit">Editar usuario</a>
                </div>
            </div>
    
        </body>
<%- include('../partials/footer.ejs') %>
</html>            


