<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Hi <%= usuario.name %> <%= usuario.last_name %></h2>
                    </div>
                    <div class="product-detail">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                        <img src="/images/usuariosimg/<%= usuario.image %> ">
                        <br>
                        <br>
                        <div class="alert alert-success"><%= usuario.email %> </div>
                    </div>
                </div>
            </div>
        </div></div>
        </body>
<%- include('../partials/footer.ejs') %>
</html>            


    