<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">


            <h3 class="inicio">Ingresar</h3><br>
            <style>
                h3 {
                    font-size: 45px;
                    font-family: "Monserrat";
                    color: white;
                    text-decoration: underline solid 2px white;
                }
            </style>
                        <% if (locals.errors && errors.datosMal){%>
                            <span class="text-danger">
                                <%= errors.datosMal.msg %>
                            </span>
                            <%}%>
                        

                           
            <main class="register">
                <div class="container-registro">

                    <section id="formulario">
                        <article class="mostrarFormulario">
                            
                    <form action="./registro" method="POST" class="form" enctype="multipart/form-data">
                        
                        <input type="text" name="name" placeholder="Nombre" id="name" value="<%= typeof old != 'undefined' ? old.first_name : '' %>">
                        <% if (locals.errors && errors.name) { %>
							<p style="color: red;"><%= errors.name.msg %></p>
						<% } %>
                        <input type="text" name="last_name" placeholder="Apellido" id="last_name" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                        <% if (locals.errors && errors.last_name) { %>
							<p style="color: red;"><%= errors.last_name.msg %></p>
						<% } %>
                        <input type="text" name="email" placeholder="E-mail" id="email">
                        <% if (locals.errors && errors.email) { %>
							<p style="color: red;"><%= errors.email.msg %></p>
						<% } %>
                        <input type="password" name="password" placeholder="Contraseña" id="password" >
                        <% if (locals.errors && errors.password) { %>
							<p style="color: red;"><%= errors.password.msg %></p>
						<% } %>
                        <input type="file"   name="avatar"  id="file" placeholder="Debes eligir tu imagen...">
                        <div class="botonera">
                            <input type="submit" value="Enviar">
                            <input type="reset" value="Borrar">
                        </div>
                        <div class="text-center my-3">Ya tengo una cuenta? <a href="./login">Inicia sesión</a></div>
                        <ul class="errores"></ul>
                    </form>
                    </article>
                </section>

                </div>
                <br>
                <script src="/js/registro.js"></script>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            </main>
        </body>

        <%- include('../partials/footer.ejs') %>

</html>