<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <body class="prod">

            <form action="../productos/detail" method="GET" class = "barrabusqueda">
                <input type="text" placeholder="Buscar productos" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form> 

            <h3>Registro</h3>
            <style>
                h3 {
                    font-size: 45px;
                    font-family: "Monserrat";
                    color: white;
                    text-decoration: underline solid 2px white;
                }
            </style>
                        <% if (locals.errors && errors.datosMal){%>
                            <span class="text-danger">
                                <%= errors.datosMal.msg %>
                            </span>
                            <%}%>

            <main class="register">
                <div class="container-registro">
                    <form action="./registro" method="POST" enctype="multipart/form-data">
                        
                        <input type="text" name="name" placeholder="Nombre" id="nya" value="<%= typeof old != 'undefined' ? old.first_name : '' %>">
                        <input type="text" name="last_name" placeholder="Apellido" id="nya" value="<%= typeof old != 'undefined' ? old.last_name : '' %>">
                        <input type="email" name="email" placeholder="E-mail" id="nya"  value="<%= typeof old != 'undefined' ? old.email : '' %>">
                        <input type="password" name="password" placeholder="Contraseña" id="nya" >
                        <input type="file"   name="avatar"  placeholder="Debes eligir tu imagen...">
                        <div class="botonera">
                            <input type="submit" value="Enviar">
                            <input type="reset" value="Borrar">
                        </div>
                        <div class="text-center my-3">Ya tengo una cuenta? <a href="./login">Inicia sesión</a></div>
                    </form>


                </div>
                <br>
            </main>
        </body>

        <%- include('../partials/footer.ejs') %>

</html>